<div class="container" style="max-width: 1134px;">

  <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid d-flex">
      <!-- Button trigger offcanvas -->
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Logo+brand -->
      <a class="navbar-brand d-flex align-items-center ms-2 me-auto" href="#">
        <img src="https://static.ada.support/images/5a93af0b-c1ec-45fc-9cc8-0a3aa12ee4d0.svg" alt="Logo" width="50"
          height="50" class="d-none d-lg-inline-block">
        <span class="ms-2  mb-0 h2">
          Printify
        </span>
      </a>

      <!-- Offcanvas -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link mg-lg-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Catalog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <!-- How it works -->
            <li class="nav-item dropdown">
              <a class="nav-link mg-lg-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">How it works</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">How Printify works</a></li>
                <li><a class="dropdown-item" href="#">Print Quality Promise</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link mg-lg-2 active" aria-current="page" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mg-lg-2" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mg-lg-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Services</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Transfer Products</a></li>
                <li><a class="dropdown-item" href="#">Order In Bulk</a></li>
                <li><a class="dropdown-item" href="#">Experts Program</a></li>
              </ul>
            </li>
            <li class="nav-item mg-lg-2 dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Need help?</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Help Center</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="header-button">
        <div class="d-flex">
          <button type="button" class="button secondary medium" ><div class="custom-content">Log in</div></button>
          <button class="button primary medium" type="button"><div class="custom-content">Sign up</div></button>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-container" style="padding-top: 71px; padding-left: 0px; padding-bottom: 0px;">
    <div class="catalog-layout">
      <div class="container full-height">
        <!-- search and curency -->
        <div class="search-and-currency">
          <div class="search-bar container mt-4">
            <div class="row">
              <div class="col-lg-10">
                <input class="w-100" type="text"
                  placeholder="Search for products, brands, categories, and print providers">
              </div>
              <div class="currency-switche col-lg-2">
                <div class="d-flex align-items-center" style="justify-content: end;">
                  <span class="currency-switcher-title d-none d-md-block">Currency</span>
                  <div class="switcher-button">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>USA</option>
                      <option value="1">VN</option>
                      <option value="2">TQ</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        <div class="main-content">
        <!-- Breadcrumb -->
          <div class="nav-breadcrumb">
            <nav aria-label="breadcrumb" style="padding-top: 10px;">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" style="color:#28a745;text-decoration: none;">Catalog</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: gray;">Men's Clothings</li>
              </ol>
            </nav>
          </div>
          <!-- Page content -->
          <div class="page-content full-height">
            <div class="mainCategory">
              <h1 class="title">Men's Clothing</h1>
              <!-- Text -->
              <div class="cms-content" style="padding-top: 20px;">
                <section class="seo-content-wrapper top">
                  <div class="body">
                    <p>
                      "Fashion and character meet personalization in essential pieces for every man’s wardrobe."
                      <br>
                      "From casual tees and "
                      <a href="">all-over-print sweatshirts</a>
                      " to workout gear and more – custom men's clothing offers a variety in color, shape, style, and
                      form. Unleash your creativity with the top printing methods like DTG and sublimation on popular
                      items like "
                      <a href="">puffer jackets</a>
                      "for colder nights or "
                      <a href="">Hawaiian shirts</a>
                      " for summer vibes. Design print-on-demand men's clothing, and your custom products will be a hit
                      all year round – as wardrobe staples and online bestsellers."
                    </p>
                  </div>
                </section>
              </div>

              <!-- Stuff -->
              <div class="page-content">
                <div class="category">
                  <div class="row">

                    <!-- T-shirt -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">T-shirt</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f71be460fb7edf49af5c.png?s=168"
                                alt="T-shirt" title="T-shirt">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Hoodies -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Hoodies</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f729f714624d567e1ad3.png?s=168"
                                alt="Hoodies" title="Hoodies">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Sweatshirts -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Sweatshirts</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f764105ab9030c4be5b7.png?s=168"
                                alt="Sweatshirts" title="Sweatshirts">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Long Sleeves -->
                    <div class="column col-12 col-md-4 col-sm-6">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Long Sleeves</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f73f105ab9030c4be5ab.png?s=168"
                                alt="Long Sleeves" title="Long Sleeves">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Tank Tops -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Tank Tops</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f770f714624d567e1ad6.png?s=168"
                                alt="Tank Tops" title="Tank Tops">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Sportswear -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Sportswear</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f759105ab9030c4be5b4.png?s=168"
                                alt="Sportswear" title="Sportswear">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Bottoms -->
                    <div class="column col-12 col-md-4 col-sm-6 ">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Bottoms</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/60f936a56da58d172861c44a.png?s=168"
                                alt="Bottoms" title="Bottoms">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Swimwear -->
                    <div class="column col-12 col-md-4 col-sm-6">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Swimwear</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/630f4a1c5a46accd05013e53.png?s=168"
                                alt="Swimwear" title="Swimwear">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- Shoes -->
                    <div class="column col-12 col-md-4 col-sm-6">
                      <div class="categoryCard mb-3 shadown-sm">
                        <div class="Card-test" type="secondary">
                          <a class="link secondary" href="">
                            <div class="category-card">
                              <h3 class="title">Shoes</h3>
                              <img width="169" height="168" loading="lazy" class="image"
                                src="https://images.printify.com/api/catalog/5f61f748105ab9030c4be5ae.png?s=168"
                                alt="Shoes" title="Shoes">
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              
              <div class="accordion" id="accordionExample" style="padding-top: 30px;">
                <h3>Frequently Asked Questions</h3>
                <!-- Question1 -->
                <div class="accordion-item" style="padding-top: 10px;">
                    <h1 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is custom men's clothing?</button>
                    </h1>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Custom men's clothing is an apparel category tailored for men. It includes t-shirts, hoodies, tank tops,
                        sweatshirts, pants, shorts, long-sleeve shirts, sportswear, shoes, and more.
                      </div>
                    </div>
                </div>
                <!-- Question2 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">Where to get custom men's clothing?</button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Partner with print-on-demand companies like Printify and get access to a large product scope. Sign up, pick
                      your favorites, and start designing. Once sent to production – your print-on-demand men's clothing will be
                      printed, packaged, and shipped by our Print Providers.
                    </div>
                  </div>
                </div>
                <!-- Question3 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">How is custom men's clothing made</button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      It depends on the selected printing method. Printify uses direct-to-garment (DTG), sublimation (AOP),
                      direct-to-film (DTF), and embroidery printing for custom men's clothing. Once your products are designed and
                      sent to production, the Print Provider takes over and prints, packages, and ships the items.
                    </div>
                  </div>
                </div>
                <!-- Question4 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">How to design and
                        sell custom men's clothing?</button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Create a Printify account.<br>
                      Browse our Catalog for custom men's clothing and pick a product.<br>
                      Click <strong>Start designing</strong> and customize the design on the <strong>Mockup Generator</strong>.<br>
                      Create an online store.<br>
                      Integrate the store with Printify <strong>(My stores – Add new store).</strong><br>
                      Set the mockups, price, and profit margin on the product page and list it online.
                    </div>
                  </div>
                </div>
                <!-- Question5 -->
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                      aria-expanded="false" aria-controls="collapseThree">What are the most popular custom men's clothing items?</button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Bestsellers in the print-on-demand men's clothing category are t-shirts (Bella+Canvas 3001 and Gildan 5000) and unisex hoodies and sweatshirts (Gildan 18500 and Gildan 18000).
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






